Repository zbeekman/ZstdFortranLib: changes, and which Codecov flags are due for each by the changed paths.
All: unittest_core, unittest_tests

.codecov.yml:

ignore:
  - "generated/GNU/testing.F90"

codecov:
  require_ci_to_pass: yes
  branch: develop

coverage:
  precision: 2
  round: nearest
  range: "60...98"
  status:
    project:
      default: off
      unittest_core: &unit_core
        flags: unittest_core
        target: 95%
        paths: &core_paths
          - generated/GNU/*.F90
          - generated/GNU/*.f90
          - src/*.F90
          - src/*.f90
          - src/*.c
          - src/c_interfaces/*.c
      unittest_extern: &unit_extern
        flags: unittest_extern
        target: auto
        threshold: 5%
        paths: &extern_paths
          - extern/**/*.*
      unittest_tests: &unit_tests
        flags: unittest_tests
        target: auto
        threshold: 2%
        paths: &tests_paths
          - "**/test/*.F90"
          - "**/test/*.f90"
          - "**/test/*.c"
          - "**/*_test.F90"
          - "**/*_test.f90"
          - "**/*_test.c"
          - generated/GNU/test/*.F90
          - generated/GNU/test/*.f90
          - src/test/*.f90
          - src/test/*.F90
          - src/test/*.c
    patch:
      default: on
      unittest_core: *unit_core
      unittest_extern: *unit_extern
      unittest_tests: *unit_tests

    changes:
      default: off
      unittest_core: *unit_core
      unittest_extern: *unit_extern
      unittest_tests: *unit_tests

flags:
  # filter the folder(s) you wish to measure by that flag
  unittest_core:
    paths: *core_paths
  unittest_extern:
    paths: *extern_paths
  unittest_tests:
    paths: *tests_paths

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  branches: [master, develop]
  after_n_builds: 6

ci(codecov): debug code coverage
  .github/workflows/CI.yml
Due: none

ci: debug codecov & add shellcheck reviewdog
  .github/workflows/CI.yml
  .github/workflows/shellcheck.yml
Due: none

ci(codecov): fix macOS & flags coverage on codecov
  .codecov.yml
  .github/workflows/CI.yml
Due: none

ci(reviewdog): fix reviewdog workflows
  .github/workflows/misspell.yml
  .github/workflows/shellcheck.yml
Due: none

ci: error when unexpected gcov files present
  .github/workflows/CI.yml
  .gitignore
  compile_commands.json
Due: none

ci(codecov): don't error due to coverage cleanup
  .github/workflows/CI.yml
Due: none

ci(codecov): fix missing backslash in GHA workflow
  .github/workflows/CI.yml
Due: none

docs: update README summary to be more accurate
  README.md
Due: none

ci(codecov): turn patch coverage rules back on
  .codecov.yml
Due: none

ci(codecov): ignore file without executable lines
  .codecov.yml
Due: none

ci(codecov): don't measure extern coverage
  .codecov.yml
  .github/workflows/CI.yml
Due: none

docs(readme): fix bad indentation in link section
  README.md
Due: none

docs(readme): track master coverage with badge
  README.md
Due: none

docs(readme): fix coverage badge (remove flag)
  README.md
Due: none

feat(external): add (vendor) Functional-Fortran
  .gitmodules
  CMakeLists.txt
  extern/CMakeLists.txt
  extern/FACE/CMakeLists.txt
  src/CMakeLists.txt
Due: none

improvement(tty/env): always detect tty size
  generated/GNU/test/c_interfaces_test.F90
  src/c_interfaces/get_terminal_size.c
  src/test/c_interfaces_test.F90
Due: unittest_core, unittest_tests

ci(gha): fix submodule checkout on GH actions
  .github/workflows/CI.yml
Due: none

fix(tty): detect tty size under ctest
  src/c_interfaces/get_terminal_size.c
Due: unittest_core

i(gha): print tty name w/ `tty` before testing
  .github/workflows/CI.yml
Due: none

ci(gha): try getting columns with `tput cols`
  .github/workflows/CI.yml
Due: none

improvement: improve tty detection and size query
  .github/workflows/CI.yml
  src/c_interfaces/CMakeLists.txt
  src/c_interfaces/get_connected_tty_lun.c
  src/c_interfaces/get_terminal_size.c
  src/c_interfaces/is_a_tty.c
Due: unittest_core

ci(codecov): tweak coverage target & threshold val
  .codecov.yml
Due: none

improvement: handle win size queries more robustly
  src/c_interfaces/get_terminal_size.c
Due: unittest_core

improvement: define _FILE_ as relative path to src
  cmake/modules/TargetCreator.cmake
  generated/GNU/test/strings_test.F90
  generated/GNU/test/testing_test.F90
  src/test/strings_test.F90
  src/test/testing_test.F90
Due: unittest_tests

chore: add emacs projectile configuration file
  .dir-locals.el
Due: none

build(pipfile): add `test` to match conventions
  Pipfile
Due: none

test: add test that fails to verify testing report
  generated/GNU/test/testing_implementation_test.F90
  src/CMakeLists.txt
  src/test/testing_implementation_test.F90
Due: unittest_tests

test(tty): emulate tty by connecting pty for tests
  src/c_interfaces/CMakeLists.txt
  src/c_interfaces/mock_pty.c
  src/test/CMakeLists.txt
Due: unittest_core

test: use the testing module for other unit tests
  generated/GNU/test/c_interfaces_test.F90
  generated/GNU/test/env_interface_test.F90
  generated/GNU/test/error_stack_test.F90
  src/test/c_interfaces_test.F90
  src/test/env_interface_test.F90
  src/test/error_stack_test.F90
Due: unittest_tests

chore: rename .codecov.yml to for better detection
  codecov.yml
Due: none

test(mock_pty): fix mock_pty for Linux (Ubuntu)
  src/c_interfaces/mock_pty.c
Due: unittest_core

test: use correct header for fork_pty on Linux
  src/c_interfaces/mock_pty.c
Due: unittest_core

ci(gha): install libutil-freebsd-dev for forkpty
  .github/workflows/CI.yml
Due: none

test: find & link libutil-freebsd on linux
  src/c_interfaces/CMakeLists.txt
  src/c_interfaces/mock_pty.c
Due: unittest_core

ci: attempted work around for missing include
  src/c_interfaces/mock_pty.c
Due: unittest_core

test: abandon mock_pty on linux
  src/c_interfaces/CMakeLists.txt
  src/c_interfaces/mock_pty.c
  src/test/CMakeLists.txt
Due: unittest_core

ci(codecov): update patch & project global targets
  codecov.yml
Due: none

ci(labels): add missing test labels for fake pty
  src/test/CMakeLists.txt
Due: none

test: don't query env for LINES & COLUMNS
  generated/GNU/env_interface.F90
  src/env_interface.F90
Due: unittest_core

ci(codecov): ignore `end module` as only statement
  codecov.yml
Due: none
